
.custom-checkbox {
    width:  20px;
    height:  20px;
    border:  1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .custom-checkbox:hover {
    background-color: green;
  }
  
  .custom-checkbox.checked {
    background-color: green;
  }
  